body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  text-align: center;
}

.share-button {
  margin-top: 16px;
}

.share-button button {
  margin-right: 8px;
}

img {
  max-width: 100%;
  height: 40rem;
}

